/* TODO: Restructure CSS +workflow */

@import "partials/_master.scss";
@import "partials/_debug.scss";

$bp-1: rgb(232, 74, 87);
$bp-2: rgb(58, 157, 221);
$bp: rgb(168, 133, 212);

@function bp($select: 1, $level: 0){
  $color: rgb(232, 74, 87);
  @if $select == 1{
    $color: lighten(rgb(232, 74, 87) , opacityIndex($level));
  } @else if $select == 2{
    $color: lighten(rgb(58, 157, 221) , opacityIndex($level));
  }

  @return $color;
}

@function opacityIndex($level){
  $hue-thresh: 2.5;
  @return ($level*10)/$hue-thresh;
}

@function rem($size){
  @return $size + 0rem;
}

@mixin quadrilateral($height: 0, $scale: 1, $width: 0) {
  @if $width == 0{
    height: rem($height);
    width: rem($height * $scale);
  } @else if $height == 0 {
    width: rem($width);
    height: rem($width * $scale);
  }
}

@mixin test_box-bordered($select, $level: 0){
  background: bp($select, $level);
  border: 4px solid bp($select, 3+$level);
}

@mixin class_name-pos{
  position: absolute;
  top: 4px;
  left: 4px;
}


////  < DEBUGGING >

.test_box{
  @include quadrilateral(3);
  @include test_box-bordered(1);
  ~ .series-row > .test_box{ // TODO:90 Use JS for nested test boxes
    @include test_box-bordered(1,1.5);
    ~ .series-row > .test_box{
      @include test_box-bordered(1,3);
    }
  }
}

.test_box-custom-primary{
  @include test_box-bordered(2);
}

.test_box-custom-secondary{
  @include test_box-bordered(2,2);
}

.test_box-custom-main{
  @include test_box-bordered(1);
  border: none !important;
}

section{
    margin-bottom: 6rem;
    color: #7c7c7c;
    position: relative;
    &::before{
      @include class_name-pos;
    }
}

#cntr-nav{
  padding: 1rem;
  &::before{
    content: 'nav';
  }
}

#cntr-hero{
  // padding: 2rem;
  &::before{
    content: 'hero';
  }
}

#cntr-category{
  padding: 1rem;
  &::before{
    content: 'cateogry';
  }
}

#cntr-editors_pick{
   padding: 1rem;
   &::before{
    content: "editor's pick";
  }
}

#cntr-upcoming{
  // padding: 2rem;
    &::before{
     content: "upcoming";
   }
}

#cntr-timeline{
   padding: 2rem;
     &::before{
      content: "timeline";
    }
 }

#nav-head{
  padding: 2rem;
  position: relative;
    &::before{
     content: "nav menu";
     @include class_name-pos;
   }
}



.ghost{
  display: block;
  @include quadrilateral(1/3);
}

.--rectangle-l{
  @include quadrilateral(3.75,4);
}

.--rectangle-m{
  @include quadrilateral(2,12);
}

.--rectangle-s{
  @include quadrilateral(2,4);
}

.--custom-cat{
  @include quadrilateral(6, 1.5);
}

.c-div_cta-divider{
  height: 3px;
}

//  </ DEBUGGING >

////  < DRAFT >

.series-row {
  display: flex;
  flex-direction: row;
  height: auto;
  // position: relative;
  border: 1px solid $bp;
  &.--equalize-border{
    :not(:last-child){
        border-right: none;
    }
  }
  &.--equalize-margin{
    & >{
      div:last-child{
          margin-right: 0;
      }
    }
  }
  &.--equalize-height{
    border: 1px solid red;
  }
  &.u-start_right{
    flex-direction: row-reverse;
  }
  &.u-start_left{
    justify-content: flex-start;
  }
}

.series-col{ // TODO:30 Use JS to get inner child and remove borders
  display: flex;
  flex-direction: column;
  border: 1px solid $bp;
  // position: relative;
  &.--equalize-border{
    & > {
      & div:not(:first-child) > div{
        border-top: none;
      }
    }
  }
  &.--equalize-margin{
    & > {
      & div:first-child > div{
        margin-top: 0;
      }
    }
  }
  &.u-start_right{
    align-items: flex-end;
  }
  &.u-start_left{
    justify-content: flex-start;
  }
}

// .u--equalize-padding-by_col-2{ //Use instead flexbox's space evenly
//   & > {
//     & div:nth-child(2n-1){
//       padding-right: calc(1rem/2);
//     }
//     & div:nth-child(2n){
//       padding-left: calc(1rem/2);
//     }
//   }
// }

//  </ DRAFT >

body{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

//// MAIN

// .u-row{
//   display: flex;
//   flex-flow: row nowrap;
//   width: 100%;
//   height: auto;
//   border: 1px solid $bp;
//   &.u-nowrap{
//     flex-flow: row wrap;
//   }
//   &.v-start_left{
//     justify-content: flex-start;
//   }
// }

// .u-col{
//   @include center;
//   flex-direction: column;
//   border: 1px solid $bp;
// }

//// Utilities

.u-single{
  @include center;
  border: 1px solid $bp;
}

.u-constraint--main{
  max-width: 1000px;
  width: 100%;
  display: inline-block;
}

.u-center{
  @include center;
}

.u-nowrap{
  flex-wrap: nowrap; // TODO: Seperate flex-direction and wrap on all
}

.u-wrap{
  flex-wrap: wrap;
}

.u-in-gap-paddings{ //Combination of trim edges & equalize paddings
  display: none;
}

.u-padding-1{
  & > .o--equalized{
    padding: .5rem;
  }
}

.u-padding-5{
  & > .o--equalized{
    padding: 2.5rem;
  }
}

.u-parent-width{
  width: 100%;
}

.u-parent-height{
  height: 100%;
}

.u--trim-padding-by_col-2{ // TODO: Account for v-start_center & _right
  & > {
    & div:nth-child(2n-1){
      padding-left: 0;
    }
    & div:nth-child(2n){
      padding-right: 0;
    }
    & div:not(:nth-child(n+3)){
      padding-top: 0;
    }
    & div:not(:nth-last-child(n+3)):nth-of-type(odd){
      padding-bottom: 0;
    }
    & div:not(:nth-last-child(n+3)):nth-of-type(odd)+div{
      padding-bottom: 0;
    }
  }
}

.u-h1{
  font-size: 2rem;
   white-space: nowrap;
   position: relative;
   margin-bottom: .9rem;
  &::after{
    content: '';
    width: 100%;
    height: 8px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  & > .test_box-custom-secondary{
    @include quadrilateral(3,3);
  }
}

.u-section-head--center{
  height: 12rem;
  justify-content: flex-end;
}

.u-divider--inner{
  // width: 7rem;
  flex-shrink: 0;
}

.u-timeline-entry--right{
  flex-direction: row-reverse;
}

.u-noshrink{
  flex-shrink: 0;
}

.u-timeline-entry-head--left{
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  & .c-entry-tag{
    position: absolute;
    top: -2.1rem;
    right: 1.75rem;
    & .relative-cntr{
      flex-direction: row-reverse;
    }
  }
  .c-tag{
    margin-left: 1rem;
    margin-right: 0;
  }
  .v-timeline-entry-desc{
    align-self: self-end;
    margin-right: 1.75rem;
  }
}

.u-timeline-entry-head--right{
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  & .c-entry-tag{
    position: absolute;
    top: -2.1rem;
    left: 1.75rem;
  }
  .v-timeline-entry-desc{
    margin-left: 1.75rem;
  }
}

.u-timeline-entry-head{
  position: relative;
}

.u-timeline--main-head{
  margin-top: 4.75rem;
  margin-left: 2rem;
}

.u-timeline--ts_thumb{
  @include quadrilateral(24, 1.4);
  // width: 100%;
  // height: 100%;
  max-width: calc(24rem*1.4rem);
  max-height: 24rem;
  flex-shrink: 0;
  // margin: 2.5rem;
  // box-shadow: 1px 3px 34px -3px rgba(0,0,0,0.65)
}

//// Objects

.o-div_cta{
  width: 100%;
  display: flex;
  flex-direction: column;
  &.-head--inline{
    flex-flow: row nowrap;
  }
  &.-head--styled{
    align-items: flex-end;
  }
}

.o-entry_post--compact{
  // height: 20rem;
  height: 100%;
  width: 100%;
  border: 1px solid $bp;
}



.o-entry_post-info{
  width: 100%;
  height: 100%;
}

.o--equalized{
  @include center;
  width: calc(100%/2);
  height: 24rem;
  border: 1px solid $bp;
}

//// Components

.c-div_cta-menu-item{
  @include quadrilateral(1.5, 4.5);
  @include menu-item;
}

.c-div_cta-head{
  display: block;
}

.c-div_cta-head--styled{
  width: auto;
  height: 2px;
  margin-bottom: calc((1rem))
}

.c-div_cta-divider{
  width: 100%;
}

.c-div_cta-cta{
  @include quadrilateral(2.25,3);
  margin-left: 1rem;
}

.category-head{
  margin-top: 3rem;
  width: 100%;
}

.category-row--entry_post{
  margin-top: 1.25rem;
}

.c-entry_post-thumb{
  width: 100%;
  height: 40%;
  flex-shrink: 0;
}

.c-divider--three-outer, .c-divider--three-inner{
  height: 1px;
}

.c-timeline--ts_date{
  @include quadrilateral(5,1);
  flex-shrink: 0;
}

.c-natural_form-under{
  width: 7rem;
}

.c-entry-tag{
  @include quadrilateral(2,7);
  width: auto;
}

.c-timeline-node--line{
  @include quadrilateral(0, 6, 1);
}

.c-tag{
  margin-right: 1rem;
  flex-shrink: 0;
}

.c-upcoming-feat-thumb{
  @include quadrilateral(22, 1.5);
}

.c-timeline--ts_thumb{
  width: 100%;
}

//// Visuals

.v-timeline-entry-head{
    @include quadrilateral(4, 2.5);
}
.v-timeline-entry-desc{
  @include quadrilateral(7, 3);
}

//// Specifics

#nav-menu{
  margin-bottom: -10px;
}

#hero-thumb{
  width: 100%;
  height: 35rem;
}

#nav-head{
  @include center;
  border: 1px solid $bp;
}

.editors_pick-entry-post{
  width: 100%;
  height: 100%;
}

#cntr-upcoming-entry{
  padding: 8rem 2rem;
}

.relative-cntr{
  display: flex;
  position: relative;
  // width: 100%;
  // justify-content: flex-start;
}

.pusher{
  width: 5rem;
  flex-shrink: 0;
}
