@import 'partials/variables';
@import 'partials/debug';
@import 'partials/master';
@import 'partials/objects';
@import 'partials/utilities';
@import 'partials/components';
@import 'partials/visuals';



.series-row {
  display: flex;
  flex-direction: row;
  height: auto;
  &.--equalize-border{
    :not(:last-child){
        border-right: none;
    }
  }
  &.--equalize-margin{
    & >{
      div:last-child{
          margin-right: 0;
      }
    }
  }
  &.u-start_right{
    justify-content: flex-end;
  }
  &.u-start_left{
    justify-content: flex-start;
  }
}

.series-col{ // TODO:30 Use JS to get inner child and emove borders
  display: flex;
  flex-direction: column;
  // outline: 1px solid $bp;
  // position: relative;
  &.--equalize-border{
    & > {
      & div:not(:first-child) > div{
        border-top: none;
      }
    }
  }
  &.--equalize-margin{
    & > {
      & div:first-child > div{
        margin-top: 0;
      }
    }
  }
  &.u-start_right{
    align-items: flex-end;
  }
  &.u-start_left{
    align-items: flex-start;
  }
}

.--row-trim-padding-upper{
  & > div{
    border-top: none;
    &:first-child{
      border-left: none;
    }
    &:last-child{
      border-right: none;
    }
  }
}

.--row-trim-padding-lower{
  & > div{
    border-bottom: none;
    &:first-child{
      border-left: none;
    }
    &:last-child{
      border-right: none;
    }
  }
}

.rpsv-timeline{
  display: flex;
}

@include entry_timeline{
  .rpsv-timeline{
    &.u-timeline-entry--right,&.u-timeline-entry--left{
        flex-direction: column;
    }
    .u-start_right, .u-start_left{
        align-items: center;
        justify-content: center;
    }
    .u-timeline--main-head{
        margin-left: 0;
        margin-right: 0;
    }
    .c-entry-tag{
      left: 50% !important;
      transform: translateX(-50%);
    }
  }
};

//  </ DRAFT >

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

*{
  box-sizing: border-box;
}

//// MAIN

//// Utilities

//// Objects

//// Components

//// Visuals

#nav-menu{
  margin-bottom: calc(-21px + 8px);
}

#hero-thumb{
  width: 100%;
  height: 35em;
}

#nav-head{
  @include center;
  // outline: 1px solid $bp;
  font-family: 'Georgia', serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem;
}

#nav-head-sub{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: .5em;
}

#cntr-hero{
  overflow-x: visible !important;
}

.editors_pick-entry-post{
  width: 100%;
  height: 100%;
}

#cntr-upcoming-entry{
  padding: 8em 2em;
}

.relative-cntr{
  display: flex;
  position: relative;
  // width: 100%;
  // justify-content: flex-start;
}

.pusher{
  max-width: 5em;
  width: 100%;
  background: red;
}

.ghost-gap{
  height: 100%;
  width: 2.5rem;
}

#cntr-nav{
  margin-bottom: 2rem;
}

#cntr-category-table{
  margin: 6rem 0;
}

#cntr-editors_pick, #cntr-category{
  margin-bottom: 9rem;
}

.inv{
  visibility: hidden;
}

#cntr-editors_pick-head{
  margin-bottom: 6rem;
}

#nav-div_cta .c-div_cta-cta{
  padding: 9px 15px;
  border-radius: 6px;
  // border: 1px solid $cta-border;
  background: $cta-bg;
}

.category-row--entry_post{
  margin-top: 1.25em;
}

#nav-div_cta .c-div_cta-text{
  color: $cta-fg;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  @include center;
}
//// Specifics
