.c-div_cta-menu-item{
    margin-right: 24px;
    font-size: 14px;
    font-weight: 500;
    color: $menu-item;
    // @include center;
  }
  
  .c-div_cta-head{
    display: inline-flex;
    font-family: 'Georgia', sans-serif;
    font-size: 18px;
    font-weight: 800;
  }
  
  .c-div_cta-head--styled{
    width: auto;
    height: 2px;
    margin-bottom: calc((1em))
  }
  
  .c-div_cta-divider{
    width: 100%;
    height: 1px;
    background: $divider;
  }
  
  .category-head{
    // margin-top: 5rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  .c-entry_post-thumb{
    width: 100%;
    height: 40%;
    flex-shrink: 0;
  }
  
  .c-divider--three-outer, .c-divider--three-inner{
    height: 1px;
  }
  
  .c-timeline--ts_date{
    @include quadrilateral(5,1);
    flex-shrink: 0;
  }
  
  .c-natural_form-under{
    width: 2.5em;
  }
  
  .c-entry-tag{
    height: 2rem;
    width: auto;
  }
  
  .c-timeline-node--line{
    @include quadrilateral(0, 6, 1);
  }
  
  .c-tag{
    margin-right: 1rem;
    flex-shrink: 0;
  }
  
  .c-upcoming-feat-thumb{
    @include quadrilateral(22, 1.5);
  }
  
  .c-timeline--ts_thumb{
    width: 100%;
  }
  
  .c-custom-cat-title{
    @include quadrilateral(2,3.5);
    @include center;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #5e5e5e;
  }
  
  .c-section-head-sub{
    height: .9em;
    width: 2.25em;
  }
  .c-section-head-header{
    height: 1em;
    width: 3em;
  }
  
  .c-entry_post-head{
    padding-bottom: $post-desc-pad;
    font-size: 1.25em;
  }
  
  .c-entry_post-head-title{
    // @include quadrilateralRem(3, 6);
    // height: 3rem;
    font-weight: 600;
    max-width: 21em;
    width: 100%;
  }
  
  .c-entry_post-desc{
    // @include quadrilateralRem(7, 2.25);
    max-height: 5rem;
    height: 100%;
    max-width: 95%;
    width: 100%;
    color: #a4a4a4;
    font-size: .875em;
    font-weight: 200;
  }
  
  .c-entry_post-footer{
    align-self: self-end;
  }
  
  .c-entry_post-datepub{
    @include quadrilateral(1.5, 6);
  }
  
  .c-thumb--main{
    box-shadow: 0 3px 60px -5px rgba(0,0,0,.35);
  }
  
  .c-div_cta-foot{
    margin-top: 1rem;
    font-size: .813rem;
  }
  
  .c-div_cta-cta_under{
    width: 5em;
    height: 3px;
    background: $bp;
  }
  
  .c-div_cta-cta{
    margin-left: 1rem;
    white-space: nowrap;
    // font-weight: 600;
  }