.o-div_cta{
    width: 100%;
    display: flex;
    flex-direction: column;
    &.-head--inline{
      flex-flow: row nowrap;
    }
    &.-head--styled{
      align-items: flex-end;
    }
  }
  
  .o-entry_post--compact{
    // height: 20em;
    height: 100%;
    width: 100%;
    // outline: 1px solid $bp;
  }
  
  .o-custom-cat{
    @include quadrilateral(6.5, 1.75);
    border: 2px solid #e3e3e3;
  }
  
  .o-entry_post-info{
    width: 100%;
    height: 100%;
    padding: $post-desc-pad;
  }
  
  .o--equalized{
    @include center;
    width: calc(100%/2);
    height: 20rem;
    @include entry_compact{
      width: 100%;
    }
  }
  