.u-single{
    @include center;
    // outline: 1px solid $bp;
  }
  
  .u-constraint--main{
    max-width: 1032px;
    padding: 0 1rem;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .u-center{
    @include center;
  }
  
  .u-nowrap{
    flex-wrap: nowrap; // TODO: Seperate flex-direction and wrap on all
  }
  
  .u-wrap{
    flex-wrap: wrap;
  }
  
  .u-in-gap-paddings{ //Combination of trim edges & equalize paddings
    display: none;
  }
  
  .u-padding-1{
    & > .o--equalized{
      padding: .5em;
    }
  }
  
  .u-padding-5{
    & > .o--equalized{
      padding: 2.5em;
    }
  }
  
  .u-parent-width{
    width: 100%;
  }
  
  .u-parent-height{
    height: 100%;
  }
  
  .u--trim-padding-by_col-2{ // TODO: Account for v-start_center & _right
    & > {
      & div:nth-child(2n-1){
        padding-left: 0;
      }
      & div:nth-child(2n){
        padding-right: 0;
      }
      & div:not(:nth-child(n+3)){
        padding-top: 0;
      }
      & div:not(:nth-last-child(n+3)):nth-of-type(odd){
        padding-bottom: 0;
      }
      & div:not(:nth-last-child(n+3)):nth-of-type(odd)+div{
        padding-bottom: 0;
      }
    }
  }
  
  .u--trim-border-by_col-4{ // TODO: Account for v-start_center & _right
    & > {
      & div:nth-child(2n-1){
        padding-left: 0;
      }
      & div:nth-child(2n){
        padding-right: 0;
      }
      & div:not(:nth-child(n+3)){
        padding-top: 0;
      }
      & div:not(:nth-last-child(n+3)):nth-of-type(odd){
        padding-bottom: 0;
      }
      & div:not(:nth-last-child(n+3)):nth-of-type(odd)+div{
        padding-bottom: 0;
      }
    }
  }
  
  .u-h1{
    font-size: 2.35rem;
    white-space: nowrap;
    position: relative;
    font-weight: 300;
    &::after{
      content: '';
      width: 90%;
      height: 10px;
      background: #ececec;
      position: absolute;
      bottom: 0;
      left: 5%;
      z-index: -1;
    }
    & > .span{
      z-index: 9;
    }
  }
  
  .u-section-head--center{
    height: 4em;
    font-size: 2.5em;
    justify-content: flex-end;
  }
  
  .u-divider--inner{
    // width: 7em;
    flex-shrink: 0;
  }
  
  .u-noshrink{
    flex-shrink: 0;
  }

  .u-timeline-entry-head--left{
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    & .c-entry-tag{
      position: absolute;
      top: -2.25em;
      right: 1.25em;
      & .relative-cntr{
        flex-direction: row-reverse;
      }
    }
    .c-tag{
      margin-right: 0;
      margin-left: 1rem;
    }
    .v-timeline-entry-desc{
      margin-right: 1.75em;
    }
    .v-timeline-entry-head{
      margin-right: .75rem;
    }
  }
  
  .u-timeline-entry-head--right{
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    & .c-entry-tag{
      position: absolute;
      top: -2.25em;
      left: .75em;
    }
    .v-timeline-entry-desc{
      margin-left: 1.75em;
    }
    .rpsv-direction{
      flex-direction: row-reverse;
    }
    .c-tag{
      &:first-child{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      &:not(:first-child){
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
    & .relative-cntr{
      margin-left: .75rem;
    }
  }

  .u-timeline-entry-head-text{
    position: relative;
    width: 100%;
  }
  
  .u-timeline--main-head{
    margin-top: 4.75em;
    margin-bottom: 1rem;  
  }
  
  .u-timeline--ts_thumb{
    // @include quadrilateral(24, 1.4);
    width: 100%;
    // height: 100%;
    max-width: calc(24em*1.4);
    height: 24em;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 0 3px 62px -7px rgba(0,0,0,.45);
    // margin: 2.5em;
    // box-shadow: 1px 3px 34px -3px rgba(0,0,0,0.65)
  }
  
  .u-col-flush_bottom{
    margin-top: auto;
  }
  
  .u-div_cta-cta--main{
    font-size: 1em;
    font-weight: 400;
    color: #666666;
  }
  
  .u-timeline-main{
    visibility: visible;
  }
  
  .u-timeline-resp{
    display: none;
  }