.v-timeline-entry-head{
    font-size: 1.75rem;
    font-weight: 100;
}
.v-timeline-entry-desc{
  max-width: calc(7em * 3);
  width: 100%;
}

.v-head{
  color: #212121;
  // margin-bottom: .125em;
}

.v-head-sub{
  color: #b8b8b8;
}

.v-thumb-prev{
  background: #3B3B3B;
}